@model byte[]

@{
    ViewData["Title"] = "Create Point Sale";
}

<h2>@ViewData["Title"]</h2>

<p>My Data: @ViewBag.MyData</p>

<!-- Вывод значения из модели -->
<p>File Size: @Model.Length bytes</p>
